h1{
    color: whitesmoke;
    text-align: left;
    background-color: black;
}
h1 span {
    color: aqua;
}
h2{
    text-align: center;
    background-color: rebeccapurple;
    color: whitesmoke;
    font-style: italic;
}
h3{
    text-align: right;
    text-decoration: underline;
    background-color: lightblue;
    color: rebeccapurple;
}